<div class="general-width flex justify-center md:justify-between">
    <div class="py-4 px-4 md:py-20 xl:py-32 md:text-2xl xl:text-4xl 2xl:text-6xl hidden md:block">WELCOME TO STUDENTS
        ASSOCIATION
    </div>
    <form #signinForm="ngForm"
          class="flex flex-col gap-4 w-100 lg:w-150 mt-20 bg-white text-[#1D2026] py-4  px-4 md:py-20 xl:py-32 shadow-lg rounded-sm">
        <p class="font-bold md:text-xl xl:text-2xl text-center py-4 xl:py-6">Create a new account</p>
        <div class="">
            <label class="text-xs" for="email">Email</label>
            <input
                    [(ngModel)]="user().email"
                    class="border border-[#E9EAF0]  text-sm block w-full p-2 outline-none "
                    id="email"
                    name="email"
                    placeholder="Enter Email address..."
                    required
                    type="email"
            />
        </div>
        <div class="">
            <label class="text-xs" for="email">Name</label>
            <input
                    [(ngModel)]="user().name"
                    class="border border-[#E9EAF0]  text-sm block w-full p-2 outline-none "
                    id="name"
                    name="name"
                    placeholder="Your Name..."
                    required
                    type="text"
            />
        </div>
        <div class="relative">

            <label class="text-xs" for="password">Password</label>
            <input
                    [(ngModel)]="user().password"
                    [type]="!visiblePass() ? 'password' : 'text'"
                    class="border border-[#E9EAF0]  text-sm block w-full p-2 outline-none "
                    id="password"
                    name="password"
                    placeholder="Enter Password..."
                    required
            />

            <mat-icon (click)="viewPass()" class="absolute end-2 bottom-2 cursor-pointer">visibility</mat-icon>
        </div>

        <div
                [ngClass]="{ 'items-start': !loading(), 'items-center': loading() }"
                class="flex flex-col gap-4 mt-4"
        >
            @if (!loading()) {
                <div class="flex items-center justify-between flex-col lg:flex-row gap-2 w-full">
                    <div class="text-xs font-medium text-[#8C94A3]">
                       Already have an account??
                        <span
                                routerLink="/user/auth/signin"
                                class="cursor-pointer text-[#003E73]"
                        >Login</span
                        >
                    </div>
                    @if (!loading()) {
                        <div class="w-full lg:w-auto ">
                            <button
                                    (click)="signup()"
                                    [disabled]="!signinForm.valid || loading()"
                                    class="cursor-pointer w-full px-5 py-2 bg-[#003E73] text-white text-sm font-bold  hover:opacity-80"
                            >
                                <div class="flex items-center gap-2 justify-center xl:mx-10">
                                    <div class="">Sign Up</div>
                                </div>
                            </button>
                        </div>
                    }
                </div>


            }

            @if (loading()) {
                <div class="py-4">
                    <mat-spinner class="xs mx-auto"></mat-spinner>
                </div>
            }
        </div>

    </form>
</div>