/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@use "tailwindcss";
@import 'https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap';



// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
  @include mat.dialog-overrides((
          container-color: #051726,
          subhead-color: red,
  ));
}


html, body  {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  height: 100%;
  background-color: #051726;
  color: white;
}
.general-width{
  @apply  px-2 sm:px-8 md:px-14 lg:px-32 xl:px-42 2xl:px-54
}

mat-spinner {
  // margin: auto;
  &.sm {
    height: 2.5rem !important;
    width: 2.5rem !important;
  }

  &.xs {
    height: 1.5rem !important;
    width: 1.5rem !important;
  }
}

input.ng-touched.ng-invalid {
  border: 1px solid #ba1a1a;
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
